.env
/node_modules
/dist
/coverage
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/.env.template
/.cache
/.vscode
/.DS_Store
/.idea
/.eslintcache
/.git
/.next
/.nuxt
/.nuxt/dist
/.nuxt/nuxt.config.js
/.nuxt/nuxt.config.ts
/estructure

.jest-info