PORT='puesto donde correra express'
NODE_ENV='development'
# NODE_ENV='production'


JWT_SECRET='your jwt secret key'


# https://dashboard.render.com
DATABAE=
USERNAME=
PASSWORD=

DATABASE_URL=''


# Gmail
EMAIL_USER="your gmail email"
PASS_APP='Gmail secure key'